/* Container */
.container {
    max-width: 1001px;
    margin: 50px auto;
    padding: 40px;
    background-color: #e2e2e1;
    box-shadow: 0px 10px 10px rgba(0, 0, 1, 0.1);
    border-radius: 10px;
}

/* Form Styles */
.form {
    max-width: 400px;
    width: 100%;
    background-color: #dbd8d8;
    padding: 20px;
    box-shadow: 0px 0px 100px 4px rgba(4, 3, 2, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 auto 30px;
}

.title {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}

.label {
    font-weight: bold;
    color: #000000;
    margin-bottom: 4px;
}

.input {
    padding: 3.5px;
    margin-bottom: 25px;
    width: 100%;
    font-size: 1rem;
    color: #000000;
    outline: none;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}

    .input:focus {
        background-color: #ffffff;
        box-shadow: 0 2px 0 2px #cbd5e0;
    }

    .input:valid {
        border: 1px solid green;
    }

    .input:invalid {
        border: 1px solid rgba(14, 14, 14, 0.205);
    }

.submit {
    background-color: #1a202c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

    .submit:hover {
        background-color: #ffc200;
    }

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table th, .table td {
        border: 1px solid #747474;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #ffffff;
        color: #333;
    }

.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

    .loadingspinner div {
        display: inline-block;
        background: darkorange;
        border: none;
        border-radius: 2px;
        width: var(--square);
        height: var(--square);
        position: absolute;
        padding: 0px;
        margin: 0px;
        font-size: 6pt;
        color: black;
    }

    .loadingspinner #square1 {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
        animation: square1 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square2 {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square2 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square3 {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square3 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square4 {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square4 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square5 {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square5 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
    }

@keyframes square1 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square2 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
}

@keyframes square3 {
    0%,100% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square4 {
    0% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square5 {
    0% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0.0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1.0;
    }
}
