* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.dashboard-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 3em 4em;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-align: center;
    text-decoration: none;
    width: 35%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

    .button i {
        font-size: 3em;
        margin-bottom: 15px;
    }

    .button:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }

    .button:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .button:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #ffc200;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .button:hover {
        color: #ffffff;
        border: 1px solid #ffc200;
    }

        .button:hover:before {
            top: -35%;
            background-color: #ffc200;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

        .button:hover:after {
            top: -45%;
            background-color: #ffc200;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

.redbutton {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 3em 4em;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-align: center;
    text-decoration: none;
    width: 35%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

    .redbutton i {
        font-size: 3em;
        margin-bottom: 15px;
    }

    .redbutton:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }

    .redbutton:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .redbutton:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #ff0000;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .redbutton:hover {
        color: #ffffff;
        border: 1px solid #ff0000;
    }

        .redbutton:hover:before {
            top: -35%;
            background-color: #ff0000;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

        .redbutton:hover:after {
            top: -45%;
            background-color: #ff0000;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }





.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

    .loadingspinner div {
        display: inline-block;
        background: darkorange;
     
        border: none;
        border-radius: 2px;
        width: var(--square);
        height: var(--square);
        position: absolute;
        padding: 0px;
        margin: 0px;
        font-size: 6pt;
        color: black;
    }

    .loadingspinner #square1 {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
        animation: square1 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square2 {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square2 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square3 {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square3 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square4 {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square4 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square5 {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square5 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
    }

@keyframes square1 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square2 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
}

@keyframes square3 {
    0%,100% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square4 {
    0% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square5 {
    0% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0.0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1.0;
    }
}
